# Configuration file for arduinopc
# arduinopc.config
#
# SetIOType will make arduinopc check the input file for the first argument (a pin number), and then
# assign the first argument's pin to the second argument (an IOType)

# The SetAlias syntax is SetAlias(pinnumber, alias), and the command is case insensitive

# The SetIOType syntax is SetIOType(pinnumber, IOType), and the command is case insensitive
# Valid IO Types are:
#     dout (Digital Output)
#     din (Digital Input)
#     dinpup (Digital Input Pullup)
#     aout (Analog Output)
#     ain (Analog Input)

# The SetInitialState syntax is SetInitialState(pinnumber, state), and the command is case insensitive
# Valid states are:
#     high (5v)
#     low (0v)
#     0 - 1024 (0.00v - 5.00v)

#The SetBluetoothMultiplier syntax is SetBluetoothMultiplier(multiplier), and the command is case insensitive
# Valid multipliers are any decimal or integer number between 1 and 10
# This is the amount of extra time that will be taken when communicating with an
# Arduino over a bluetooth connection, as they are slower than wired connections

arduino_uno {
    SetBluetoothMultiplier(4.25)
    SetIOType(2, dout)
    SetIOType(3, dout)
    SetIOType(4, dout)
    SetIOType(5, dout)
    SetIOType(6, dout)
    SetIOType(7, dout)
    SetIOType(8, dinpup)
    SetIOType(9, dinpup)
    SetIOType(10, dinpup)
    SetIOType(11, dinpup)
    SetIOType(12, dinpup)
    SetIOType(13, dout)
    SetIOType(A0, ain)
    SetIOType(A1, ain)
    SetIOType(A2, ain)
    SetIOType(A3, ain)
    SetIOType(A4, ain)
    SetIOType(A5, ain)

    SetInitialState(2, HIGH)
    SetInitialState(3, HIGH)
    SetInitialState(4, HIGH)
    SetInitialState(5, HIGH)
    SetInitialState(6, HIGH)
    SetInitialState(7, HIGH)
    SetInitialState(13, HIGH)
}

arduino_nano {
    SetBluetoothMultiplier(4.25)
    SetIOType(2, dout)
    SetIOType(3, dout)
    SetIOType(4, dout)
    SetIOType(5, dout)
    SetIOType(6, dout)
    SetIOType(7, dout)
    SetIOType(8, dout)
    SetIOType(9, dout)
    SetIOType(10, dinpup)
    SetIOType(11, dinpup)
    SetIOType(12, dinpup)
    SetIOType(13, dout)
    SetIOType(A0, ain)
    SetIOType(A1, ain)
    SetIOType(A2, ain)
    SetIOType(A3, ain)
    SetIOType(A4, ain)
    SetIOType(A5, ain)
    SetIOType(A6, ain)
    SetIOType(A7, ain)

    SetAlias(2, "Relay 1 (DIO2)")
    SetAlias(3, "Relay 2 (DIO3)")
    SetAlias(4, "Relay 3 (DIO4)")
    SetAlias(5, "Relay 4 (DIO5)")
    SetAlias(6, "Relay 5 (DIO6)")
    SetAlias(7, "Relay 6 (DIO7)")
    SetAlias(8, "Relay 7 (DIO8)")
    SetAlias(9, "Relay 8 (DIO9)")

    SetInitialState(2, HIGH)
    SetInitialState(3, HIGH)
    SetInitialState(4, HIGH)
    SetInitialState(5, HIGH)
    SetInitialState(6, HIGH)
    SetInitialState(7, HIGH)
    SetInitialState(13, HIGH)
}

arduino_mega {
    SetBluetoothMultiplier(4.25)
    SetIOType(2, dinpup)
    SetIOType(3, dinpup)
    SetIOType(4, dinpup)
    SetIOType(5, dinpup)
    SetIOType(6, dinpup)
    SetIOType(7, dinpup)
    SetIOType(8, dinpup)
    SetIOType(9, dinpup)
    SetIOType(10, dinpup)
    SetIOType(11, dinpup)
    SetIOType(12, dinpup)
    SetIOType(13, dinpup)
    SetIOType(14, dinpup)
    SetIOType(15, dinpup)
    SetIOType(16, dinpup)
    SetIOType(17, dinpup)
    SetIOType(18, dinpup)
    SetIOType(19, dinpup)
    SetIOType(20, dinpup)
    SetIOType(21, dinpup)
    SetIOType(22, dout)
    SetIOType(23, dout)
    SetIOType(24, dout)
    SetIOType(25, dout)
    SetIOType(26, dout)
    SetIOType(27, dout)
    SetIOType(28, dout)
    SetIOType(29, dout)
    SetIOType(30, dout)
    SetIOType(31, dout)
    SetIOType(32, dout)
    SetIOType(33, dout)
    SetIOType(34, dout)
    SetIOType(35, dout)
    SetIOType(36, dout)
    SetIOType(37, dout)
    SetIOType(38, dout)
    SetIOType(39, dout)
    SetIOType(40, dout)
    SetIOType(41, dout)
    SetIOType(42, dout)
    SetIOType(43, dout)
    SetIOType(44, dout)
    SetIOType(45, dout)
    SetIOType(46, dout)
    SetIOType(47, dout)
    SetIOType(48, dout)
    SetIOType(49, dout)
    SetIOType(50, dout)
    SetIOType(51, dout)
    SetIOType(52, dout)
    SetIOType(53, dout)

    SetIOType(54, ain)
    SetIOType(55, ain)
    SetIOType(56, ain)
    SetIOType(57, ain)
    SetIOType(58, ain)
    SetIOType(59, ain)
    SetIOType(60, ain)
    SetIOType(61, ain)
    SetIOType(62, ain)
    SetIOType(63, ain)
    SetIOType(64, ain)
    SetIOType(65, ain)
    SetIOType(66, ain)
    SetIOType(67, ain)
    SetIOType(68, ain)
    SetIOType(69, ain)    

    SetAlias(22, "Relay 1 (DIO22)")
    SetAlias(23, "Relay 2 (DIO23)")
    SetAlias(24, "Relay 3 (DIO24)")
    SetAlias(25, "Relay 4 (DIO25)")
    SetAlias(26, "Relay 5 (DIO26)")
    SetAlias(27, "Relay 6 (DIO27)")
    SetAlias(28, "Relay 7 (DIO28)")
    SetAlias(29, "Relay 8 (DIO29)")  
    SetAlias(30, "U55X-2-+B (DIO30)")              
    SetAlias(31, "U55X-4-CANL (DIO31)")
    SetAlias(32, "U55X-6-CANH (DIO32)")
    SetAlias(33, "U55X-8-GND (DIO33)")
    SetAlias(34, "U55X-1-NC (DIO34)")
    SetAlias(35, "U55X-3-NC (DIO35)")
    SetAlias(36, "U55X-5-NC (DIO36)")
    SetAlias(37, "U55X-7-NC (DIO37)")
    SetInitialState(22, HIGH)
    SetInitialState(23, HIGH)
    SetInitialState(24, HIGH)
    SetInitialState(25, HIGH)
    SetInitialState(26, HIGH)
    SetInitialState(27, HIGH)
    SetInitialState(28, HIGH)
    SetInitialState(29, HIGH)
    SetInitialState(29, HIGH)
    SetInitialState(30, HIGH)
    SetInitialState(31, HIGH)
    SetInitialState(32, HIGH)
    SetInitialState(33, HIGH)
    SetInitialState(34, HIGH)
    SetInitialState(35, HIGH)
    SetInitialState(36, HIGH)
    SetInitialState(37, HIGH)
}

